.nav-menu label {
  height: 2em;
  width: 2em;
  margin: 2px;
  text-indent: -9999px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
.nav-menu input {
  width: 32px;
  height: 26px;
  position: absolute;
  top: 1em;
  left: 1em;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
.nav-menu input:checked + ul {
  transform: translateX(0%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.nav-menu input:checked + ul > li {
  opacity: 1;
  transform: translateX(0%);
}
.nav-menu ul {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh;
  width: 15em;
  padding: 0;
  list-style: none;
  transform: translateX(-100%);
  transition: all 0.2s ease;
  text-indent: 0;
  box-shadow: 0 0 30px transparent;
  padding: 1em;
}
.nav-menu ul > li {
  border-top-style: solid;
  border-top-width: 1px;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease 0.05s;
}
.nav-menu ul > li:first-child {
  margin-top: 3em;
}
.nav-menu ul > li > a {
  padding: .75em 0;
  text-decoration: none;
  transition: all 0.1s ease;
}
.pointer {
  cursor: pointer;
  padding: 1em;
  height: 1em;
  width: 1em;
}

/*
 * Just a quick hamburger
 */
.nav-icon {
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #333;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}

.nav-icon.three {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
 .nav-menu input:checked ~ .nav-container > .nav-icon {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #333;
}

/*
 * But let's hide the middle one.
 */
 .nav-menu input:checked ~ .nav-container > .nav-icon.two {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Oh yeah and the last one should go the other direction
 */
 .nav-menu input:checked ~ .nav-container > .nav-icon.three {
  transform: rotate(-45deg) translate(0, -1px);
}
